@import "tailwindcss";

:root {
  --green: #457461;
  --orange: #f59567;
  --cream: #e2d6c4;
  --white: #eeeeee;
  --black: #000000;
  --coffee: #2C1A0E;

  --font-hero: var(--font-cairo-play);
  --font-body: var(--font-montserrat);
}

body {
  font-family: var(--font-hero);
}